/*****************
LAYOUT 12/12
******************/

/* Reset */

*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	box-sizing: border-box;
}

/* Container */

.container {
    width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/* Row */

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.row > * {
    max-width: 100%;
}

/* Colonne */

.row > [class^="col"] {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.row > .col {
    flex-grow: 1;
}

/* # GRIGLIA */

.row > .col-12 {
    flex-basis: 100%;
    max-width: 100%;
}

.row > .col-11 {
    flex-basis: calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11);
}

.row > .col-10 {
    flex-basis: calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
}

.row > .col-9 {
    flex-basis: 75%;
    max-width: 75%;
}

.row > .col-8 {
    flex-basis: calc(100% / 12 * 8);
    max-width: calc(100% / 12 * 8);
}

.row > .col-7 {
    flex-basis: calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7);
}

.row > .col-6 {
    flex-basis: 50%;
    max-width: 50%;
}

.row > .col-5 {
    flex-basis: calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
}

.row > .col-4 {
    flex-basis: calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
}

.row > .col-3 {
    flex-basis: 25%;
    max-width: 25%;
}

.row > .col-2 {
    flex-basis: calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2);
}

.row > .col-1 {
    flex-basis: calc(100% / 12);
    max-width: calc(100% / 12);
}

/* OFFSET */

.offset-0 {
    margin-left: 0;
}

.offset-1 {
    margin-left: calc(100% / 12)
}

.offset-2 {
    margin-left: calc(100% / 12 * 2);
}

.offset-3 {
    margin-left: calc(100% / 12 * 3);
}

.offset-4 {
    margin-left: calc(100% / 12 * 4);
}

.offset-5 {
    margin-left: calc(100% / 12 * 5);
}

.offset-6 {
    margin-left: calc(100% / 12 * 6);
}

.offset-7 {
    margin-left: calc(100% / 12 * 7);
}

.offset-8 {
    margin-left: calc(100% / 12 * 8);
}

.offset-9 {
    margin-left: calc(100% / 12 * 9);
}

.offset-10 {
    margin-left: calc(100% / 12 * 10);
}

.offset-11 {
    margin-left: calc(100% / 12 * 11);
}

.offset-12 {
    margin-left: 100%;
}
